<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Start Fresh</a></li>
              <li><a href="/game">New Game</a></li>
              <li><a href="http://rubyforyourthoughts.tumblr.com/">A Cullen Jett Joint</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error text-center"><%=@error%></div>
    <% elsif @success %>
      <div class="alert alert-success text-center"><%=@success%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
