<div class="hero-unit">
  <h1 class="text-center">Blackjack</h1>

  <img id="tealeaf_logo" class="img-circle" src="https://coursereport_prod.s3.amazonaws.com/rich/rich_files/rich_files/26/s300/tealeaf-academy-logo.png?1384907431">

  <p class="text-center">Welcome to the table. Enter your name and we'll get started.</p>
  <form class="form-search text-center" action="/new_player" method="post">
    <input class="span4" type="text" name="player_name" placeholder="What's your name?"/>
    <button type="submit" class="btn btn-primary">
      Start Game
    </button>
  </form>
  
</div>